body {
    text-align: center;
    align-items: center;
    font-family: 'Lobster', cursive;
}

div {
    margin-top: 10%;
    text-align: center;
}

button {
    font-family: 'Lobster', cursive;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: x-large;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}